<h1><%= @unicorn.name %></h1>

<p><%= @unicorn.name %> wuz in the <%= @location.name %></p>

<h2>Where <%= @unicorn.name %> go?</h2>

    <%= form_for @unicorn do | f | %>
        <% @locations.each do |location| %>
            <%= f.radio_button :location_id, location.id  %><%= location.name %><hr>
        <% end %>
    <%= f.submit %>

<% end  %>