<h1>Here Be Unicorns!</h1>

<% @unicorns.each do | unicorn | %>
    <h3><%= unicorn.name %> is in the <%= @locations.find(unicorn.location_id).name %></h3>
    <ul>
        <li><strong>Gender:</strong> <%= unicorn.gender %>emale</li>
        <li><strong>Fave Food:</strong><%= unicorn.favorite_food %></li>
        <li><strong>Color:</strong><%= unicorn.color %></li>
    </ul>
    <%= link_to "Show", unicorn_path(unicorn) %><br>
    <%= link_to "Move", edit_unicorn_path(unicorn) %>
<% end %>

