<h1>Equestria Unicorn Rancher</h1>

<div id="background">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/61/e5/52/61e55261b7fa2e0081fdf83d705c1893.jpg" alt="Equestria">
</div>

<div id="content">
    <%= link_to "Locations", locations_path %>
    <% @unicorns.each do | unicorn | %>
        <h3><%= unicorn.name %> is in the <%= @locations.find(unicorn.location_id).name %></h3>
        <%= link_to "Show", unicorn_path(unicorn) %>
    <% end %>
    <hr>
    <p><strong>The Herd is Growing!</strong> <%= link_to "Add a Unicorn!", new_unicorn_path %></p>
</div>
